body {
    font-size: 2.1em;
    overflow: auto;
}

.front > div img {
    width: 100%;
    height: 100%;
}

.top h1 {
    font-size: 2.2em;
    margin-top: 2em;
}

.selfphoto {
    position: absolute;
    right: 0;
}

.center {
    text-align: center;
    margin: 0 !important;
    padding: 1em 0 !important;
}

.spread {
    font-size: 2.5em;
}

.spread p {
    font-weight: bold;
    font-size: 1em;
}

.answer {
  
}

h3 {
    margin-bottom: 0;
    color: #ff9b22;
    font-size: 1.1em;
}

table {
    background: #EEE;
    color: #000;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.5em;
}

th {
    background: #DDD;
}

td, th {
    text-align: center;
    border: 1px solid #000;
	padding: 0.5em;
}

.right {
    float: right;
}

table {
    margin-top: 2em;
}

.page pre {
	font-size: 0.6em;
	line-height: 1.8;
}

pre, code {
	font-family: monaco, osaka-mono, monospace;
}

.page ol.list li {
  padding-left: 0;
  background: none;
}

.page ol ol {
	padding-left: 2em;
}
.page ol span {
	margin-right: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
}

h2.m {
	line-height: 2;
}

.box2 div {
	float: left;
	width: 400px;
	margin: 0 1em;
}
.box2 p {
	margin: 0;
	padding: 0;
	text-align: center;
}

blockquote {
	background: url(../img/blockquote.gif) #FFF no-repeat 20px 20px;
	color: #000;
	padding: 0 .5em 1em 120px;
	border: 1px solid #999;
	font-size: 0.9em;
}

blockquote cite {
	display: block;
	text-align: right;
	text-align: right;
	font-size: .8em;
	padding: 0 1.5em .5em;
}

time {
	font-size: 0.5em;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

table.origin {
	font-size: 0.7em;
	width: 94.5%;
	margin: 0 auto;
}
table.origin td {
	text-align: left;
}

.progress {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #CCC;
  -webkit-transition: all 20s linear;
}

.list {
  font-size: 1.2em;
}

.mvclist {
  margin-top: 6em;
}

.mvclist li {
  margin: 0;
  font-size: 2.4em;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.page strong {
  color: #e82b96;
}

.mvclist li:first-letter {
  color: #e82b96;
}

iframe {
  width: 90%;
  height: 600px;
  background: #FFF;
}

.spread2 {
  padding-top: 2.5em;
  text-align: center;
}

.spread2 h2 {
  font-size: 2.0em;
  margin-bottom: 1.5em;
  color: #ff9b22;
}
.spread2 p {
  font-size: 1.8em;
  margin: 0.5em 0;
}

.answer h2 {
  color: #ff9b22;
}

.viewport {
    width: 320px;
    overflow: hidden;
    margin: 0 auto;
}

.flipsnap {
    width: 690px;
    padding-left: 45px;
}

.flipsnap::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.item {
    width: 200px;
    margin: 0 10px;
    font-size: 50px;
    text-align: center;
    padding: 50px 0;
    background: #EFEFEF;
    border: 5px solid #999;
    float: left;
    color: #666;
}

.presen-mode .hide-presen-mode {
  display: none;
}
